@font-face {
  font-family: meet1;
  src: url(/font/NBInternationalProBoo.ttf);
}
@font-face {
  font-family: meet2;
  src: url(/font/Rejouice-Headline.ttf);
}
:root {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#page-1 {
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
}
#cursor {
  height: 7vw;
  width: 7vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
#cursor h5 {
  font-size: 1.125 rem;
  font-family: meet1;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
#page-1 video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
#page1-part1 {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
#nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3vw;
}
#nav h3 {
  font-family: meet1;
  font-weight: 400;
  font-size: 1.125 rem;
}
#nav h4 {
  font-family: meet1;
  font-weight: 400;
  font-size: 1.125 rem;
}
#page-1heading span {
  font-family: meet2;
  font-size: 27.5vw;
  font-weight: 100;
  display: inline-block;
}
#page-2 {
  min-height: 100vh;
  width: 100%;
  background-color: #faf8f3;
  padding: 3vw 3vw;
}
#page2-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0vw;
  border-bottom: 1px solid black;
}
#page2-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 0vw;
}
#page2-top h2 {
  font-family: meet1;
  font-size: 1.5rem;
  font-weight: 500;
}
#page2-bottom h2 {
  font-family: meet1;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 0.001rem;
  line-height: 3.7rem;
}
#page-3 {
  min-height: 100vh;
  width: 100%;
  padding: 3vw 3vw;
}
#page3-top {
  width: 100%;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  padding-top: 6vw;
  padding-bottom: 12vw;
}
#page3-top h4 {
  font-family: meet1;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1vw;
}
#page3-top h4 span {
  font-family: meet1;
  font-size: 0.6rem;
  font-weight: 400;
  margin-bottom: 1vw;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 0.5em 1.1em;
}
#page3-top h2 {
  font-family: meet1;
  font-size: 3.5rem;
  font-weight: 500;
}
#p3-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#p3-top h2 {
  font-family: meet1;
  font-size: 1.5rem;
  font-weight: 400;
}
#p3-bottom {
  margin-top: 2vh;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#p3-bottom .elem {
  height: 100%;
  width: 32%;
  position: relative;
}
#p3-bottom .elem video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#p3-bottom .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  transition: all linear 0.8s;
}
#p3-bottom .elem:hover img {
  opacity: 0;
}
#page-4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw 3vw;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#page4-top{
  padding: 2vw 0vw
}
#page-4 h2 {
  font-family: meet1;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1vw 0vw;
  border-bottom: 1px solid black;
}
#page-4 h4 {
  font-family: meet1;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 0.001rem;
  line-height: 3.7rem;
}
#page4-part1 {
  min-height: 50vh;
  width: 100%;
}
#page4-part2 {
  min-height: 50vh;
  width: 100%;
}
#page-4 video {
  height: 100vh;
  width: 100%;
}
#page-5 {
  min-height: 100vh;
  width: 100%;
  padding: 3vw 3vw;
}
#page-5 h1 {
  font-family: meet2;
  font-size: 5rem;
  font-weight: 400;
  border-bottom: 1px solid black;
  width: 96%;
  margin-left: 2%;
}
#p5-bottom {
  height: 70vh;
  width: 100%;
  text-align: center;
  /* transform: translate(-50%,-50%); */
  position: relative;
  padding-top: 30vh;
  padding-bottom: 0vh;
}
#p5-bottom h4 {
  font-family: meet1;
  font-size: 1.125rem;
  font-weight: 500;
}
#p5-bottom h2 {
  font-family: meet1;
  font-size: 3.5rem;
  font-weight: 500;
}
#page-6 {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
#newswiper {
  height: 80vh;
  width: 100%;
  position: relative;
  margin-top: -15%;
}
#hamburger {
  /* min-height: 100vh; */
  width: 100vw;
  /* background-color: rgba(114, 114, 114, 0.322); */
  position: fixed;
  top: -100%;
  z-index: 10;
  transition: all ease 0.5s;
}
#hamburger-main {
  height: 70vh;
  width: 100vw;
  background-color: #ff5f38;
  color: black;
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#loader h3 {
  font-family: meet1;
  font-size: 2rem;
  font-weight: 500;
}
